@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AG-Sculbuch';
  src: local('AG-Sculbuch'), url(./fonts/Akzidenz-grotesk-r-schulbuch-regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'AG-Sculbuch-2';
  src: local('AG-Sculbuch-2'), url(./fonts/Akzidenz-grotesk-r-schulbuch-2-regular.ttf) format('truetype');
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'AG-Sculbuch-2', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2F2F2F;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.AG1 {
  font-family: 'AG-Sculbuch', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
